/*Задайте флекс для верхнего контейнера .page.
Задайте грид для .content и пропишите grid-area для всех элементов внутри.*/

.page {
  display: flex;

  /*Расположить блок .content посередине .page.*/
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 711px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: end;

  max-width: 1140px;
  gap: 30px;
  padding: 133px 30px;
}

.result {
  grid-area: 1/1/2/2;
  padding-top: 78px;
}

.search-form {
  /*4. Расположить элементы .search-form в строку, пропорционально распределить между ними свободное пространство и прижать их к началу контейнера.*/
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__details {
  grid-area: auto;
  max-height: 534px;
  overflow-y: scroll;
  /* overflow-x: hidden; */
}
